<div>
    <h1>
        Welcome!
    </h1>
</div>
<div>
    <p>Welcome back, {{first_name}} {{last_name}}!</p>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
    <span>Role: {{role}}</span>
    <br /><br />
</div>

<input type="hidden" id="currentRole" value="{{role}}">

<button id="logoutBtn" type="button">Cerrar sesión</button>

<button id="createBtn" type="button">Crear Productos</button>

<button id="productsBtn" type="button">Ver Productos</button>

<button id="chatBtn" style="display: none;"><a href="/chat">Chat</a></button>

<button id="adminBtn" style="display: none;"><a href="/userAdmin">Vista Admin</a></button>

<script src="/socket.io/socket.io.js"></script>
<script src="js/session.js"></script>
<script src="js/index.js"></script>